html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: url(nhm2.jpg);
  background-size: center;
  background-position: center;
  font-family: sans-serif;
}

h1{
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  background-color: red;
  opacity: 0.7;
  color: white;
  border: 2px solid black;
  background-size: 50px;
  text-align: center;
  padding: 15px;
  font-size: 36px;

}


/* .box
{
	width:50%;
	margin: 20px auto;
	background:#FFC07C;
	border:solid 10px #F5CCF3;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
} */

.flexcontainer
{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.playerBox{
  height: 280px;
  width: 250px;
  background: url(Character-man.gif);
  background-size: center;
  background-position: center;
  background-color: #FFC07C;
  border-style: solid;
  border-color: #bf9b30;
  border-radius:10px;
  color: white;
  display: block;
}

.playerBox2{
  height: 280px;
  width: 250px;
  background: url(girl-moving-2.gif);
  background-size: center;
  background-position: center;
  background-color: #FFC07C;
  border-style: solid;
  border-color: #bf9b30;
  border-radius:10px;
  color: white;
  display: block;
}

.playerBox3{
  height: 280px;
  width: 250px;
  background: url(character-person.gif);
  background-size: center;
  background-position: center;
  background-repeat: none;
  background-color: #FFC07C;
  border-style: solid;
  border-color: #bf9b30;
  border-radius:10px;
  color: white;
  display: block;
}


.flexcontainer2
{
  width: 100%;
  /* height: 400px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

button
{
  background-color: #FFC07C;
  border-style: solid;
  border-color: #bf9b30;
  border-radius: 10px;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  width: 250px;


}

.button2
{
  background-color: #FFC07C;
  border-style: solid;
  border-color: #bf9b30;
  border-radius: 10px;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  width: 250px;
}
