.game{
  border: solid blue 10px;
  width: 75%;
  margin: 4px;
  display: flex;
  align-items: center;
}


.crowd{
  width: 400px;
  height: 400px;
}




/*Styling for Page 1*/

.sectionflexcontainer{
  display:flex;
}

.headerflexcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleflexcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  max-width: 50%;
}

.asideflexconrainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}
